@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}

a:link,a:visited,a:active {
	text-decoration: none;
	color: #052C6E;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: Ubuntu, sans-serif;
	/*font-family: "Helvetica", Veranda, Sans-Serif;*/
	background: #1049A9;
	color: white
}

div {
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 0;
}

.outer {
	border: 1px solid black;
	width: 50%	
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: none;
}