#top {
	height: 9em;
	width: 100%;
}

#right {
	float: right;
	width: 20%;
}

a:link,a:visited,a:active {
	text-decoration: none;
	color: #616536;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: "Helvetica", Veranda, Sans-Serif;
	background: #31B96E;
}

.imagecenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.logo {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	float: left;
	border: none;
}

img:hover {
	-moz-box-shadow: 0 0 20px gray;
	-webkit-box-shadow: 0 0 20px gray;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div {
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 0;
}

.textarea {
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	/*margin-left: 1em;	*/
	border: 2px solid #616536;
	background: #A4E666;
	float: left;
	width: 75%;
}

.nav {
	padding-bottom: 1em;
}

.nav:last-child {
	padding-bottom: 0;
}

.navbar {
	border: 2px solid #616536;
	background: #A4E666;
	padding: 20px;
	margin: 0 15px;
}

.navbar * {
	margin: 0;
}

.navbar ul {
	list-style-type: none;
	padding: 5px;
}

.navbar li a:link,.navbar li a:visited {
	font-size: 90%;
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	text-decoration: none;
}

.navbar li a:hover {
	-moz-box-shadow: 0 0 20px gray;
	-webkit-box-shadow: 0 0 20px gray;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.spacer {
	display: inline-block;
	width: 1em;
}

.title {
	font-size: 2em;
	line-height: 5em;
}