html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: Arial, helvetica, verdana, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

.topBar {
	text-decoration: none;
	color: white;
}

.table {
	width: 100%;
}

.containermessaging {
	height: 100%;
	overflow-y: scroll;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.imgcenter {
	margin-top: 20px;
	display: block;
}

.offset {
	position: absolute;
	top: 0px;
	padding-top: 30px;
	padding-bottom: 5px;
}

.right {
	float: right;
}

button {
	background: transparent;
	border: none;
}

#topBar {
	background: black;
	color: white;
	padding: 5px 10px;
	height: 20px;
}

#topBar a:link, #topBar a:visited, #topBar a:active {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

#topBar a:hover {
	text-decoration: underline;
	color: white;
	cursor: pointer;
}

.gwt-TextBox {
	margin: 10px !important;
}

.gwt-DialogBox td {
	padding: 0px;
}

.gwt-DialogBox .dialogContent {
	margin: 10px;
}

.pagerClass {
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.scroll {
	height: 100%;
	overflow-y: scroll;
}

.margin-tb {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
