#wrapper {
	height: 100%;
	display:table;
	margin: 8px;
}

#right {
	width: 250px;
	display: table-cell;
	height: 100%;
	float: left;
}

#left {
	display: table-cell;
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding: 0 15px 15px 15px;
	border: 2px solid #4479D4;
	background: #6A92D4;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #052C6E;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: "Helvetica", Veranda, Sans-Serif;
	background: #1049A9;
	margin: 0px;
}

.head {
	width: 250px;
	display: inline-block;
	background: #6A92D4;
	-moz-border-radius: 10px 0 0 0;
	border-radius: 0 0 10px 0;
	margin-bottom: 5px;
	border-right: 2px solid #4479D4;
	border-bottom: 2px solid #4479D4;
	text-align: center;
}

#social {
	display: inline-block;
	margin-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	padding-left: 25px;
}

#social a {
	margin-right: 25px;
}

.imagecenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

img:hover {
	-moz-box-shadow: 0 0 20px gray;
	-webkit-box-shadow: 0 0 20px gray;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div {
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 0;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

nav a:link, nav a:visited, #cpyrght {
	display: block;
	font-size: 90%;
	padding: 5px;
	color: #6A92D4;
	text-decoration: none;
}
nav a:hover {
	-moz-box-shadow: 0 0 20px gray;
	-webkit-box-shadow: 0 0 20px gray;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

nav {
	margin: 0;
}

.navbar * {
	margin: 0;
}

.navbar ul {
	list-style-type: none;
	padding: 5px;
}

.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}

.barrelRoll {
	-webkit-transition:all 2s ease-in-out;
	-webkit-transform:rotate(360deg);
	transition:all 2s ease-in-out;
	transform:rotate(360deg);
	-moz-transition:all 2s ease-in-out;
	-moz-transform:rotate(360deg);
}
