<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<link href="/css/website.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://cdn.brianreber.com/js/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.brianreber.com/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.brianreber.com/js/analytics.js"></script>
</head>
<body class="body">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Brian Reber</a>

      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://github.com/breber">Github</a></li>
          <li><a href="http://www.linkedin.com/in/breber">LinkedIn</a></li>
          <li><a href="http://brianreber.com/android">Google Play Store</a></li>
          <li><a href="https://chrome.google.com/webstore/search/brianreber.com">Chrome Web Store</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="wrap">
  <div class="container center-block top-margin">
    <div id="content" class="row">
      <div class="col col-lg-3">
        <ul class="nav sidebar">
          <li><a href="/platforms.html">Platforms</a></li>
          <li><a href="/languages.html">Languages</a></li>
          {% assign prevYear = 0 %}
          {% for post in site.posts limit:15 %}
          {% capture currYear %}{{ post.date | date: "%Y"}}{% endcapture %}
          {% if currYear != prevYear %}
          {% if prevYear != 0 %}
            </ul>
          </li>
          {% endif %}
          <li>
            <a>{{ currYear }}</a>
            <ul class="nav">
          {% endif %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% assign prevYear = currYear %}
          {% endfor %}
        </ul>
      </div>

      <div class="well col-9 col-lg-9">
        {{ content }}
      </div>
    </div>
    <br>
    <div id="push"></div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p>Copyright &copy; Brian Reber, 2009 - {{ site.time | date: "%Y" }}</p>
  </div>
</div>

</body>
</html>
