<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<link href="/css/website.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://cdn.brianreber.com/js/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.brianreber.com/js/analytics.js"></script>
</head>
<body class="body">
  <div class="head">
    <h1>Brian Reber</h1>
  </div>
  <div id="social">
    <a href="http://github.com/breber"><img src="/images/github.png" height="46px"></a>
    <a href="http://www.linkedin.com/in/breber"><img src="/images/linkedin.png" height="46px"></a>
    <a href="http://android.brianreber.com/"><img src="/images/googleplay.png" height="46px"></a>
    <a href="https://chrome.google.com/webstore/search-extensions/Brian%20Reber"><img src="/images/ChromeWebStore.png" height="46px"></a>
  </div>
  <div id="wrapper">
    <div id="right">
      <div class="navbar">
        <nav>
          <a href="/">Home</a>
          {% assign prevYear = 0 %}
          {% for post in site.posts limit:10 %}
          {% capture currYear %}{{ post.date | date: "%Y"}}{% endcapture %}
          {% if currYear != prevYear and currYear != '2050' %}
          <b>{{ currYear }}</b>
          {% endif %}
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% assign prevYear = currYear %}
          {% endfor %}
        </nav>
      </div>
    </div>
    <div id="left">{{ content }}</div>
  </div>
  <div id="cpyrght">
    <div style='text-align: center'><p>Copyright &copy;<br /> Brian Reber, 2009 - {{ 'now' | date: "%Y" }}</p></div>
  </div>
  <div style="width: 100%; height: 1em; float: left">&nbsp;</div>
</body>
</html>
